

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

i {
    padding-left: 20px;
    padding-right: 20px;
}

.title-cont {
    margin-top: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.center {
    text-align: center;
    font-size: 3.75em;
    line-height: 1;
    font-weight: bold;
    color: #1ebbbb;
    margin: 0 40px;
}

/* button {
    display: inline-block;
    transition: all 0.3s ease 0s;
    background-image: linear-gradient(-60deg, rgb(9, 182, 162), rgb(107, 248, 231), rgb(9, 182, 162));
    font-weight: bold;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 5px #60d5c4;
    text-shadow: 0 1px 0 #135c81;
    cursor: pointer;
}


button:hover {
    border: 0 solid #c0c1c6;
    color-scheme: light;
    color: inherit;
    text-decoration: inherit;
} */

.typing-container {
    height: 200px;
    width: 800px;
    margin: 3rem;
    text-align: center;
}
#typing {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 5px;
    animation: blink-caret 0.75s step-end infinite;
    font-weight: bold;
    color: red;
    font-size: 30px;
    text-align: center;

}

#blinking-cursor {
    width: 3px;
    animation: blink-caret 1s step-end infinite;
    background-color: white;
    color: transparent;
}

.box1 {
    width: 327px;
    height: 187px;
    background-color: #F2F2F2;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
}

.box2 {
    width: 327px;
    height: 187px;
    background-color: #E5F5FA;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
}

.box1, .box2 {
    background-image: linear-gradient(-60deg, rgb(9, 182, 162), rgb(107, 248, 231), rgb(9, 182, 162));
}

.hidden {
    color:white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.show {
    opacity: 1;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #1A1A1A;
    font-size: 16px;
  }

.box {
    width: 50%;
    padding: 20px;
    background-image: linear-gradient(to bottom, #3a3a3b, #3c4145, #3a484b, #3d4f4a, #495545);
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
  }

  @media screen and (max-width: 700px) {
    .box {
      width: 90%;
      max-width: none;
    }
  }

  .image-container {
    display: flex;
    justify-content: flex-start;
    overflow: hidden; /* Hides any portion of images outside the container */
    object-fit: cover; /* Sets the object-fit property */
    margin-left: 110px;
  }


@media (max-width: 990px) {
    .typing-container {
      height: 200px;
      width: 500px;
    }

    #typing {
        font-size: 25px;
    }
}
@media (max-width: 700px) {
    .typing-container {
      height: 200px;
      width: 400px;
    }

    #typing {
        font-size: 25px;
    }
}

